In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_file = "efw_cc.csv"
df_econForum = pd.read_csv(csv_file)
df_econForum.head()

,year,ISO_code,countries,ECONOMIC FREEDOM,rank,quartile,1a_government_consumption,1b_transfers,1c_gov_enterprises,1d_top_marg_tax_rate,...,3_sound_money,4a_tariffs,4b_regulatory_trade_barriers,4c_black_market,4d_control_movement_capital_ppl,4_trade,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation
0,2016,ALB,Albania,7.54,34.0,1.0,8.232353,7.509902,8.0,8.0,...,9.553657,8.963556,7.489905,10.00000,6.406138,8.214900,7.098562,6.916278,6.705863,6.906901
1,2016,DZA,Algeria,4.99,159.0,4.0,2.150000,7.817129,0.0,4.5,...,7.253894,6.872533,2.481294,5.56391,1.590362,4.127025,5.100509,5.029513,5.676956,5.268992
2,2016,AGO,Angola,5.17,155.0,4.0,7.600000,8.886739,0.0,9.5,...,5.606605,6.989244,2.024949,10.00000,2.044823,5.264754,7.064905,4.560325,4.930271,5.518500
3,2016,ARG,Argentina,4.84,160.0,4.0,5.335294,6.048930,6.0,4.0,...,5.614336,6.421600,4.811105,0.00000,4.697482,3.982547,5.419820,5.151405,5.535831,5.369019
4,2016,ARM,Armenia,7.57,29.0,1.0,7.264706,7.748532,8.0,5.0,...,9.521940,8.547556,7.194410,10.00000,6.830998,8.143241,9.102046,6.234630,6.797530,7.378069

In [5]:
df_econForum.dtypes.head()

year                  int64
ISO_code             object
countries            object
ECONOMIC FREEDOM    float64
rank                float64
dtype: object

In [13]:
df_countries = df_econForum[['countries', 'ECONOMIC FREEDOM', 'rank']]
df_countries.dropna().drop_duplicates('countries').sort_values(by= 'rank', ascending=True).head()

       countries  ECONOMIC FREEDOM  rank
63     Hong Kong              8.97   1.0
130    Singapore              8.84   2.0
107  New Zealand              8.49   3.0
140  Switzerland              8.39   4.0
70       Ireland              8.07   5.0